/*Filter--------------------------------------*/
.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filter .filter-ui-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.filter .filter-ui-group .filter-button-group:last-of-type {
  margin-left: auto;
}

.filter .filter-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-button {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: 1px solid rgb(221, 220, 219);
  display: flex;
  flex-flow: row;
  gap: 0.2rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: fit-content;
  max-width: 180px;
  user-select: none;
  border-radius: 28px;
  padding: 0px 24px;
  height: 48px;
  color: rgb(20, 20, 20);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  transition: 0.5s ease-in-out all;
}

.filter .filter-button-group:first-of-type .filter-button-details-open {
  display: none;
}

.filter .filter-button-group:last-of-type .filter-button:last-of-type {
  max-width: 200px;
}

.filter-button:hover {
  border: 1px solid rgb(131, 131, 131);
  transition: 0.5s ease-in-out all;
}

/*Range slider*/

.range-slider {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.range-slider label {
  color: #fff;
  font-size: 13px;
}

.range-slider .number-group {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  text-align: right;
  height: 48px;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border: 1px solid rgb(221, 220, 219);
  border-radius: 32px;
}

.range-slider .number-group .number-group-container {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.number-group-container-text {
  font-size: 14px;
  color: #000000;
}

.range-slider .number-group .number-group-container .number-input {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgb(20, 20, 20);
  font-weight: 500;
  border: none;
  border-radius: 32px;
  padding: 0 8px;
}

.range-slider .number-group .number-group-container .number-input:focus-visible {
  outline: none;
}

.range-slider .number-group .number-group-container:first-of-type .number-input {

}



.range-slider .number-group .number-group-container:last-of-type  {
  border-left: 1px solid rgb(221, 220, 219);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-slider .number-group .number-group-container .number-input::-webkit-outer-spin-button, .range-slider .number-group .number-group-container .number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*.range-slider .number-group .number-group-container .number-input:invalid, .range-slider .number-group .number-group-container .number-input:out-of-range {*/
/*  border: 2px solid red;*/
/*}*/

.range-slider .range-group {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

.range-slider .range-group .range-input {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  -webkit-appearance: none;
  width: 100%;
  border-bottom: 0;
}

.range-slider .range-group .range-input:focus {
  outline: 0;
}

.range-slider .range-group .range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 0;
  cursor: pointer;
  -webkit-animation: 0.2s;
  animation: 0.2s;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
  background: transparent;
}

.range-slider .range-group .range-input::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  -webkit-appearance: none;
  margin-top: -7px;
  width: 30px;
  height: 16px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  border-radius: 16px;
  cursor: grab;
  touch-action: pan-x;
}

.range-slider .range-group .range-input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  background: #3faffa;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider .range-group .range-input::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #3faffa;
  cursor: pointer;
}

.range-slider .range-group .range-input::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider .range-group .range-input::-ms-fill-lower, .range-slider .range-group .range-input::-ms-fill-upper {
  background: #3faffa;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider .range-group .range-input::-ms-thumb {
  z-index: 2;
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #3faffa;
  cursor: pointer;
}

.filter-details-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 20px;
}

.filter-header {
  z-index: 99999;
  position: sticky;
  background-color: rgba(58, 56, 56, 0.5);
  border-radius: 8px;
  width: 100%;
  height: 56px;
  padding: 0px 32px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.filter-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: color;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.filter-button-close {
  background: transparent;
}

.filter-block-applied {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.filter-block-applied-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: rgb(58, 58, 58);
}

.filter-block-applied-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-block-applied-wrapper-el {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(232, 232, 232, 0.75);
  border-radius: 32px;
  padding: 8px 16px;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  margin-right: 8px;
  margin-bottom: 16px;
  max-height: 36px;
}

.filter-block-applied-wrapper-el-button-close {
  margin-left: 8px;
}

.filter-block-applied-wrapper-el-button-close img {
  width: 12px;
  height: 12px;
  appearance: none;
  background: transparent;
}

.filter-block-common {
  width: 100%;
  margin-bottom: 40px;
}

.filter-block-common .filter-button-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.filter-block-common .filter-button-group .filter-button {
  min-width: 100%;
}

.filter-block-common .filter-button-group .filter-button:visited {
  border: 1px solid rgb(131, 131, 131);
}

.select {
  font-family: "Montserrat", Montserrat, sans-serif;
  position: relative;
  width: 100%;
}

.select.is-active .select__body {
  width: 100%;
  height: 189px;
  display: flex;
  align-items: center;
  /*scrollbar-color: #2B3888 transparent;
  scrollbar-shadow-color: #222222;*/
}

.select.is-chosen .select__header,  .select.is-chosen .select__current {

}

.select.is-chosen .select__icon {
  fill: #fff;
}

.select.is-active .select__icon {
  transform: rotate(180deg); /* Поворот на 180 градусов */
  transform-origin: center center;
}

.select__header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 180px;
  min-width: 100%;
  user-select: none;
  border-radius: 28px;
  padding: 0px 24px;
  height: 48px;
  border: 1px solid rgb(221, 220, 219);
  transition: 0.5s ease-in-out all;
}

.select.is-active .select__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select__header:hover, .select__body:hover {
  border: 1px solid rgb(131, 131, 131);
  transition: 0.5s ease-in-out all;
}

.select__current {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  color: rgb(20, 20, 20);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  transition: 0.5s ease-in-out all;
  border-radius: 20px;
  /*border: 1px solid rgb(173, 173, 173);
  border-radius: 20px;
  ;*/
}

.select__icon {
  box-sizing: border-box;
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-right: 15px;
}

.select__body {
  background: #ffffff;
  border: 1px solid rgb(173, 173, 173);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: none;
  left: 0;
  position: absolute;
  z-index: 99999;
  right: 0;
  top: 48px;
  transition: 0.5s ease-in-out all;
}

.select__item-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  position: relative;
  height: 171px;
  width: 98%;
  overflow: auto;
  margin-left: 5px;
}

/* Ширина скроллбара */
.select__item-list::-webkit-scrollbar {
  width: 7px;
}

/* Фон скроллбара (трек) */
.select__item-list::-webkit-scrollbar-track {
  background: transparent;

  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px;
}

/* Ползунок */
.select__item-list::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  padding: 1px
}

.select__item {
  min-height: 25px !important;
  padding-left: 5px;
  cursor: pointer;
  color: rgb(20, 20, 20);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  transition: 0.3s ease-in-out all;
  border-bottom: 1px solid rgba(173, 173, 173, 0.5);
  outline: 0;
}

.select__item:hover {
  border-bottom: 1.5px solid rgb(173, 173, 173);
}

.filter-block-details {
  position: relative;
  width: 100%;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.filter-block-details .filter-block-details-wrapper .filter-button-group {
  position: relative;
}

.filter-block-details  .filter-block-details-wrapper:first-of-type:after  {
  position: absolute;
  top: 0;
  right: calc(50%);
  content: "";
  width: 1px;
  height: 100%;
  background: #000000;
}

.filter-block-details .filter-block-details-wrapper:first-of-type .filter-button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-block-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filter-block-details-wrapper-title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: rgb(58, 58, 58);
}

.filter-block-details-wrapper-range {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-block-details-wrapper-range-title {
  color: rgb(58, 58, 58);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
}



.filter-block-controls {
  width: 100%;
  position: fixed;
  z-index: 99;
  bottom: 24px;
  left: 0;
}

.filter-block-controls-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.filter-block-controls-button-submit {
  height: 56px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: all;
  z-index: 9;
  background-color: rgb(255, 65, 20);
  color: rgb(255, 255, 255);
  border-radius: 56px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 100%;
}

.filter-block-controls-button-submit:hover {
  background-color: rgb(211, 52, 16);
}

.filter-block-controls-button-clear {
  margin-left: 16px;
  flex: 0 0 280px;
  width: 280px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: all;
  z-index: 1;
  background-color: rgb(247, 247, 245);
  color: rgb(20, 20, 20);
  border-radius: 56px;
  padding: 0px 24px;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.filter-block-controls-button-clear:hover {
  background-color: rgb(216, 216, 216);
}

@media (max-width: 1248px) {
  .filter .filter-ui-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .filter .filter-ui-group .filter-button-group:first-of-type {
    grid-column: 1/8;
    grid-row: 1/2;
  }

  .filter .filter-ui-group .filter-button-group:last-of-type {
    grid-column: 8/13;
    grid-row: 1/2;
  }

  .filter .filter-ui-group .filter-button-group {
    flex-wrap: nowrap;
  }

  .filter .filter-ui-group .range-slider {
    grid-column: 1/13;
    grid-row: 2/3;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .filter .filter-ui-group {
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .filter .filter-ui-group .filter-button-group:first-of-type {
    grid-column: 1/13;
    grid-row: 1/2;
    justify-content: space-between;
  }

  .filter .filter-button-group:first-of-type .filter-button-details-open {
    display: flex;
  }

  .filter .filter-button-group:last-of-type .filter-button-details-open {
    display: none;
  }

  .filter .filter-ui-group .filter-button-group:last-of-type {
    grid-column: 1/13;
    grid-row: 3/4;
    width: 100%;
  }

  .filter .filter-ui-group .filter-button-group:last-of-type .filter-button {
    max-width: 100%;
    min-width: 100%;
  }

  .filter-block-common .filter-button-group {
    grid-template-columns: repeat(3, 1fr);
  }

  .filter-block-common .filter-button-group .select {
    grid-column: 2/4;
  }
}

@media (max-width: 768px) {
  .filter .filter-ui-group {
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }

  .filter .filter-ui-group .filter-button-group:last-of-type {
    grid-row: 3/5;
  }

  .filter .filter-button-group:first-of-type .filter-button-details-open {
    display: none;
  }

  .filter .filter-button-group:last-of-type {
    flex-direction: column;
  }

  .filter .filter-button-group:last-of-type .filter-button-details-open {
    display: flex;
  }

  .filter-block-common .filter-button-group {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .filter-block-common .filter-button-group .select {
    grid-column: 1/3;
  }

  .filter-block-details {
    grid-template-columns: 1fr;
  }

  .filter-block-details .filter-block-details-wrapper:first-of-type:after {
    display: none;
  }

  .filter-block-details .filter-block-details-wrapper:first-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .filter-block-controls-button-clear {
    max-width: 200px;
  }
}

@media (max-width: 576px) {
  .filter .filter-ui-group {
    gap: 10px;
  }

  .filter .filter-button-group:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .filter .filter-button-group:first-of-type .filter-button {
    max-width: 100%;
    min-width: 100%;
  }

  .filter .filter-ui-group .range-slider {
    max-height: 48px;
  }

  .filter .filter-button-group:last-of-type {
    margin-top: -30px;
  }

  .filter-block-controls-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .filter-block-controls-button-clear {
    min-width: 100%;
    max-height: 48px;
  }
}
