/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #161E70;
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Хедер */
.header {
  height: 59px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 996;
  transition: top 0.5s;
}

.header-wrapper {
  height: 100%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-top {
  height: 100%;
  display: flex;
  justify-content: center;
  background: inherit;
}

/* Навигационная панель */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  max-width: 1320px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 12px;
}

.container {
  position: relative;
  max-width: 1320px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 12px;
  margin: 0 auto;
}

/* Логотип */
.navbar-brand {
  display: block;
}

.navbar-brand img {
  max-width: 180px;
  width: 157px;
}

.header-wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Кнопка каталога */
.header-btn-catalog {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: transparent;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 100px;
  text-transform: none;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}

.header-btn-catalog:hover {
  color: #fff;
  background: #FF6224;
  border-color: #FF6224;
}

.header-btn-catalog svg {
  margin-right: 0.5rem;
  fill: currentColor;
}

/* Форма поиска */
.title-search-overlay {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 99;
}

.title-search-overlay.open {
  top: 0;
  opacity: 1;
}

.title-search-wrap {
  position: relative;
  z-index: 100;
  width: 80%;
  margin: -150px auto 0;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.title-search-wrap.show {
  margin-top: 30px;
}

.search-form-wrap {
  position: relative;
  padding-right: 70px;
}

.title-search-wrap .search-form {
  display: flex;
  position: relative;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.title-search-wrap .search-form .form-control {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: inherit;
  padding: 15px 60px 15px 25px;
  border: none !important;
  background: #fff;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:hover {
  border-color: #8e8e93;
}

.form-control:focus-visible {
  border: none;
  outline: none;
}

.search-label {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 2rem;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.title-search-wrap .search-submit {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-size: 35px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.search-button-wrap {
  display: flex;
  align-items: center;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.search-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  -webkit-justify-content: center;
  opacity: 1;
}

.search-button-close-icon {
  color: currentColor;
  transition: all 0.3s ease-in-out;
}

.search-button-close:hover .search-button-close-icon, .header_priemnaya_row:hover .ask_form_text_page, .header_submenu li:hover a {
  color: #FF6224;
  transition: all 0.3s ease-in-out;
}

/* Гамбургер-меню */
.hamburger {
  display: none;
  padding: 0;
  margin-left: 1rem;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: inherit;
  background: transparent;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
}

.hamburger:hover .header-icon {
  color: #fff;
  background: #FF6224;
}

/* Навигационное меню */
.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.nav-list li {
  position: relative;
  padding: 0 10px;
}

.nav-item, .nav-item-more {
  margin-left: 1rem;
}

.nav-item-more-button {
  height: 34px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.more-nav .nav-item {
  display: none;
}

.nav-link, .catalog-link {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
}

.nav-link:hover {
  color: #FF6224;
  cursor: pointer;
}

.nav-item-land {
  width: 180px;
  padding: 5px 10px !important;
  background-color: rgba(196, 198, 220, 0.7) !important;
  text-align: center;
  border-radius: 5px;
}

.more-nav {
  display: none;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  height: auto;
  width: auto;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.10);
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.10);
  z-index: 500;
}

.active {
  display: flex;
}

.active-block {
  display: block !important;
}

.drawer__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.drawer.is-visible .drawer__wrapper {
  --webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 100%;
}

.drawer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  --webkit-transform: translate3d(103%, 0, 0);
  transform: translate3d(103%, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 2px 6px #777;
  box-shadow: 0 2px 6px #777;
}

.drawer__header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.drawer__close {
  margin: 0;
  border: 0;
  border-radius: 5px;
  padding: 0.3rem;
  transition: opacity .15s ease-in-out;
  max-height: 40px;
  background-color: #161E70;
  cursor: pointer;
}

.drawer_submenu .drawer__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  margin: 0;
  border: 0;
  border-radius: 5px;
  padding: 0.3rem;
  transition: opacity .15s ease-in-out;
  max-height: 40px;
  background-color: #161E70;
}

.drawer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  --ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.drawer #more-nav-1 {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  font-size: inherit;
  margin: 0;
  padding: 0;
  background: transparent;
  list-style: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  visibility: visible;
}

.drawer #more-nav-1 li {
  -webkit-justify-content: center;
  justify-content: center;
  padding: 5px 15px !important;
}

.drawer__content-bottom {
  width: 100%;
  padding: 20px;
}

.drawer__content-bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.drawer .header_item {
  margin-left: 0;
  margin-top: 2rem;
  padding: 0;
}

.drawer .header-btn-catalog {
  padding: 10px 15px;
  display: flex;
}

.drawer .nav-item-land {
  width: 100%;
  margin-left: 0;
}

.drawer_submenu .drawer__wrapper {
  --webkit-transform: translate3d(0, -103%, 0);
  transform: translate3d(0, -103%, 0);
  max-width: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
}

.drawer__header_title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
  width: 100%;
}

.drawer__header_title span {
  margin-left: 12px;
}

.drawer_submenu .drawer__content {
  padding: 2rem 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 48px;
  grid-auto-flow: row;
}

.header_submenu_wrap {
  position: relative;
  padding: 0 12px;
}

.header_submenu_title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.2rem !important;
  font-weight: 600;
  margin-bottom: 1rem;
}

.header_submenu_title svg {
  display: none;
  width: 1em;
  min-width: 1em;
  height: auto;
  margin-left: 0.5rem;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.header_priemnaya_row {
  position: absolute;
  top: 103%;
  right: 20px;

}

.ask_form_text_page {
  padding: 20px;
  color: white;
  background-color: #2B3888 !important;
  transition: all 0.15s ease-in-out;
}

/*-------------FOOTER---------------*/
.footer {
  border-top: 1px solid #77798C;
  padding-bottom: 1rem;
  background-color: #2B3888 !important;
  color: #ffffff !important;
}

.footer .container {

}

.footer_top {
  padding: 3rem 0;
  border-bottom: 1px solid #77798C;
}

.footer_top .footer_row {
  display: grid;
  grid-template-columns: 4fr 3fr 2fr 3fr;
}

.footer_row_item {
  padding: 0 12px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer_row_item:nth-child(4) {
  justify-self: flex-end;
}

.footer_top_item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.footer_top_item svg {
  margin-right: 0.5rem;
}

.footer a {
  font-weight: 400;
  transition: all 0.15s ease-in-out;
}

.footer a:hover {
  color: #FF6224;
  transition: all 0.3s ease-in-out;
}

.footer_middle {
  padding-top: 3rem;
}

.footer_middle .footer_row {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 2fr;
}

.footer_middle_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
  text-transform: none;
}

.footer_middle_item .footer_middle_desc {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-transform: none;
}

.footer__soc-icons {
  display: flex;
  gap: 20px;
}

.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 14px;
  color: inherit;
  opacity: 0.5;
}

/* Медиа-запросы */
@media (min-width: 1285px) {
  .nav-item-more {
    display: none;
  }
}

@media (max-width: 1284px) {
  header .nav-item:nth-child(7) {
    display: none;
  }

  .more-nav .nav-item:nth-child(3) {
    display: block;
  }
}

@media (max-width: 1200px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_top {
    padding-bottom: 1.5rem;
  }

  .footer_top .footer_row,  .footer_middle .footer_row{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .footer_row_item:nth-child(4) {
    justify-self: flex-start;
  }

  .drawer .container {
    max-width: 960px;
  }
}

@media (max-width: 1189px) {
  header .nav-item:nth-child(6) {
    display: none;
  }

  .more-nav .nav-item:nth-child(2) {
    display: block;
  }
}

@media (max-width: 1027px) {
  header .nav-item:nth-child(5) {
    display: none;
  }

  .more-nav .nav-item:nth-child(1) {
    display: block;
  }
}

@media (max-width: 991px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-btn-catalog {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-container {
    display: none;
  }
  .drawer {
    display: block;
  }

  .header_submenu_title {
    cursor: pointer;
  }

  .header_submenu_title svg {
    display: block;
  }

  .header_submenu_list {
    display: none;
  }

  .drawer .container {
    max-width: 720px;
  }

}

@media (min-width: 992px) {
  .header-item {
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .footer_top .footer_row,  .footer_middle .footer_row{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .drawer .container {
    max-width: 540px;
    padding: 0;
  }

  .drawer__header_title {
    margin-top: 20px;

  }
}

